body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#countdown-container {
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    padding: 20px;
    width: 90%;
    max-width: 800px;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#countdown {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1.2em;
}

.time-unit {
    margin: 10px;
    text-align: center;
}

.time-unit span {
    display: block;
    font-size: 3em;
    font-weight: bold;
}

#message {
    font-size: 1.5em;
    color: green;
    font-weight: bold;
    display: none;
    margin-top: 20px;
}

.hidden {
    display: none;
}

@keyframes popUp {
    0% { transform: scale(0.5); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

#message.show {
    animation: popUp 0.5s ease-out;
}
